.portada{
    height: 70vh;
}

.portada img{
    height: 70vh;
    width: auto;
}

.overlay{
    color: black;
}

.card-body-home{
    margin: 8rem;
}

.card-body h5{
    font-size: 6rem;
    font-family: "Oswald";
}

.card-body p{
    font-family: "jost";
    font-weight: lighter;
}

.card-body span{
    color: rgb(0, 45, 122);
}
.btn span{
    font-family: "Oswald";
    color: white;
    border: white solid;
    font-size: 2rem;
    padding: 1rem;
}